// ==========================================================================
// Base
// ==========================================================================
body {
    min-width: $wrapper-width;
    background-color: $bg-color;
    color: $font-color;
    font-size: #{$base-font-size}px;
    @if $legacy-support-for-ie {
        *font-size: small;
    }
    font-family: $yu-gothic;
    line-height: 1.5;

    &.is-sp{
        background-color: #fff;
    }
}

a {
    color: $link-color;
    text-decoration: none;

    &:link, &:visited {
        outline: 0;
    }
    &:hover, &:active {
        color: $link-color-hover;
        text-decoration: underline;
    }
}

.contents{
    @include absolute(0, 0, '', 0);
    min-width: 1200px;
    height: calc(100vh - #{$footer-height});
    overflow: hidden;

    @include sp{
        min-width: 0px;
    }
}

.limited{
    display: none;

    &[data-env="pc"]{
        display: block;

        @include sp{
            display: none;
        }
    }

    &[data-env="sp"]{
        display: none;

        @include sp{
            display: block;
        }
    }
}
